<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ajax Example Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
      function makeAjaxRequest() {
        $.ajax("/hello", {
          type: "GET",
          data: {
            name: "Web Application Programming.",
            weight: 100,
            professor: "Sridevi Malasaini",
          },
        })
          .done((response) => {
              console.log("RAJ CEHCK",response);
            $("h1").html(response);
          })
          .fail(function (res) {
            console.log("Failed gracefully.");
          });
      }

      function makeAjaxRequestPOST() {
        $.ajax("/hello", {
          type: "POST",
          data: {
            name: "Web Application Programming.",
            weight: 100,
            professor: "Sridevi Malasaini",
          },
        })
          .done((response) => {
              console.log("RAJ CEHCK",response);
            $("h1").html(response);
          })
          .fail(function (res) {
            console.log("Failed gracefully.");
          });
      }

    </script>
  </head>
  <body>
    <h1>Hi Header from AJAX</h1>
    <button onclick="makeAjaxRequest()">GET click</button>
    <button onclick="makeAjaxRequestPOST()">POST click</button>

    <h1></h1>
  </body>
</html>
