.main{
  display:flex
}
.content2{
  flex-basis: 50%;
  background-color: rgb(77, 76, 76);;
  text-align: center;
  padding-bottom: 400px;
}
.content1{
  flex-basis: 25%;
  background-color: rgb(128, 128, 128);
  text-align: center;
  padding-bottom: 400px;
}
.content3{
  flex-basis: 25%;
  background-color: rgb(128, 128, 128);
  text-align: center;
  padding-bottom: 400px;
}
.header{
  background-color: rgb(142, 233, 240);
  text-align: center;
  padding-bottom: 20px;
    padding-top: 20px;
    border: 2px solid black;
}

.footer{
 
    background-color:green;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    border: 2px solid;
    color: black;

}
.menu{
  
 display: flex;
 background-color: darkgreen;
border-bottom: 2px solid black;
}

@media only screen and(max-width:600px){
  .main{
    flex-wrap: wrap;
  }
  .content1{
    order: 1;
    flex-basis: 50%;
  }
  .content2{
    order: 3;
    flex-basis: 100%;
  }
  .content3{
    order: 2;
    flex-basis: 50%;
  }
}