<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>final review</title>
  </head>
  <body>
    <div style="border: 2px solid black">
      <h1>
        1. Let the server send this data, {Title: "Header",text: "My Paragraph"}
      </h1>
      <h1><%=Title%></h1>
      <p><%=text%></p>
    </div>
    <hr />

    <div style="border: 2px solid black">
      <h1>
        2. Let the server send the following data and html should like this
      </h1>
    </div>
  </body>
</html>
