<!Doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pie Receipe</title>
    <link rel="stylesheet" href="style.css">
    <title>layout</title>
    

</head>

<body>
    <div class="main">
        <div class="c1">
            <h2>About us</h1>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto voluptatum dicta ad dolorum aperiam laboriosam saepe ex perferendis animi doloremque. Iste, exercitationem. Unde numquam aut architecto eveniet laborum, vel labore.</p> 
        </div>
        <div class="c2">
            <h2>Latest Tweets</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem laboriosam fugiat est cum sed? Laboriosam repellendus atque, at dolorum quaerat officia reiciendis, odit deleniti temporibus in dicta, blanditiis voluptas quisquam!</p>
        </div>
        <div class="c3-1">
            <h2>Instagram</h2>
        <div class ="imagediv">
            
            <div class="mypic1">
                <img src="big_small_.webp">
                <img src="">
            </div>
            <div class="mypic2">
                <img src="">
                <img src="">
            </div>
        </div>    
    
    </div>
          
    </div>

    
<hr>
<div>
<!-- <span class="footer-main">
    <div><h3>Home</h3></div>
    <div><h3>About</h3></div>
    <div><h3>Our works</h3></div>
    <div><h3>Services</h3></div>
    <div><h3>Blog</h3></div>
    <div><h3>Contacts</h3></div>
</span> -->

<span>Home&nbsp;&nbsp;&nbsp;About&nbsp;&nbsp;&nbsp;Our works&nbsp;&nbsp;&nbsp;Services&nbsp;&nbsp;&nbsp;Blog&nbsp;&nbsp;&nbsp;Contacts&nbsp;&nbsp;&nbsp;</span>
<span class="colorrib">
    Colorrib
</span>
</div>
</body>



</html>