body{

    background-color: black;
    color: white;
}


        .flex-container {
          display: flex;
          flex-wrap: nowrap;
          background-color: rgb(17, 17, 18);
          justify-content: space-around;
        }
.main{
    display: flex;
   

}
.main div{
    padding: 10px;
    padding-bottom: 20%;
}

c3{
    display: flex;
}

.c3.c3-1{
    display: flex;
}


.c3-1{
    display: flex;
    width: 20%;
}


.c3.c3-2{
    display: flex;
}

.footer-main{
    display: flex;
    justify-content: space-evenly;
  
}

.colorrib{
   
    float: right;

}
.myPic1{
    width: 10%;
}
.myPic2{
    width: 5%;
}

.imagediv{
    display: flex;
    
}